@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

:root {
    color-scheme: light dark;

    --default-bg-color:   light-dark(#efefec, #191b1c);
    --default-text-color: light-dark(#333b3c, #efefec);
    --default-blur-color: light-dark(#efefec5d, #191b1c5d);   
    --button-stroke-color: light-dark(#cccccc, #444444);

    --fancycolor-1: #9c20aa;
    --fancycolor-2: #fb3570;

    --default-border: 1px solid var(--button-stroke-color);
    --border-radius: 12px;

    --default-blur-hover-color: light-dark(#efefecaf, #5454702b); 
}

.btn-fancystroke {
    background: 
        linear-gradient(var(--default-bg-color) 0 0) padding-box,
        linear-gradient(to right, var(--fancycolor-1), var(--fancycolor-2)) border-box;
	box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.btn-fancystroke:hover {
	background: hsla(285, 42%, 33%, 1);
    background: 
        linear-gradient(var(--default-bg-color) 0 0) padding-box,
        linear-gradient(to right, var(--fancycolor-1), var(--fancycolor-2)) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    background-color: var(--default-bg-color);
    color: var(--default-text-color);

    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 20px;
}